@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

// Variable overrides first
$primary: #FF3D38;
// $secondary: #081C35;

$text-color: #081C35;
$enable-shadows: true;

$display-font-family: 'Roboto', 'Lato', sans-serif;

// Then import Bootstrap
@import "./node_modules/bootstrap/scss/bootstrap";
@import "loader";
@import "menu";

body {
  background-color: #f2edf3;
  font-family: $display-font-family;
}

#boxLoader {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 50px;
  align-items: center;
}

.navbar{
  .navbar-brand{
    .image-logo{
      max-width: 120px;
      max-height: 40px;
    }
  }
  .navbar-nav{
    .nav-link{
      color: $text-color;
    }
  }
}

.glass {
  background-color: #FFFFFF4D;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}